/* Grundlayout */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
}

#app {
    display: flex;
    width: 100%;
}

.sidebar {
    background: #f4f4f4;
    width: 20%;
    padding: 1em;
    border-right: 1px solid #ddd;
}

.sidebar h2 {
    margin-top: 0;
}

.action-list {
    margin-top: 1em;
}

.action-item {
    background: #e0e0e0;
    padding: 0.5em;
    margin: 0.5em 0;
    border-radius: 5px;
    cursor: grab;
}

.action-item:active {
    cursor: grabbing;
}

.main-content {
    flex-grow: 1;
    padding: 1em;
}

.categories {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.category {
    flex: 1;
    border: 1px dashed #ddd;
    min-height: 100px;
    margin: 0 5px;
    padding: 1em;
    text-align: center;
}

#super {
    background-color: #d4edda;
}

#neutral {
    background-color: #fff3cd;
}

#bad {
    background-color: #f8d7da;
}

#save-button {
    margin-top: 1em;
    padding: 0.5em 1em;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#save-button:hover {
    background: #0056b3;
}

#save-button:disabled {
    background: #ddd;
    cursor: not-allowed;
}

.lock-button {
    margin-left: 0.5em;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.25em 0.5em;
    display: inline-flex;
    align-items: center;
    font-size: 0.9em;
}

.lock-button:hover {
    background: #218838;
}
.action-item img {
    width: 50%; /* Verkleinert die Bilder auf 50% der ursprünglichen Breite */
    height: auto; /* Beibehaltung des Seitenverhältnisses */
    display: block; /* Verhindert, dass Bilder nebeneinander erscheinen */
    margin: 0 auto; /* Zentriert die Bilder innerhalb des Containers */
}
